* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}


.container {
    display: flex;
    flex-direction: row;
    gap:20px;
    align-items: center;
    justify-content: center;
    background-color: white;
    height:100vh;
    font-family: area-normal, sans-serif;
    overflow: hidden;
   
}

h1 {
font-weight: 100;
color:#82e2ff;
margin-bottom: 20px;
}


.notebook {
position: relative;
width:600px;
height:450px;
background-color: rgb(255, 255, 255);
border-top: 13px solid #CCCCFF;
border-left: 13px solid #CCCCFF;
border-right: 13px solid #CCCCFF;
border-bottom: none;
padding: 40px  80px;
border-radius:10px 10px 0px 0px;
z-index: 3;
}

.notebook img {
    position: absolute;
    width:10%;
    height: auto;
    left:-20px;
    top:15px;
    z-index: 1;
}

textarea { 
  width: 100%;
  display: block; 
  border: none;
  padding-top: 10px;
  padding-bottom: 5px;
  line-height: 1.5;
  box-sizing: border-box;
  resize: vertical; 
  overflow-y: auto;
   font-family: area-normal, sans-serif;
   margin-left:5px;
   color:rgb(27, 34, 58);
   background-color: transparent;
}
textarea:focus {
    outline: none;
}

.tabs {
    display: flex;
    flex-direction: row;
    position: absolute;
    top:-35px;
}

.tab {
    width:100px;
    height:35px;
    background-color:chartreuse;
    color:rgb(66, 61, 109);
    padding:10px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: lowercase;
    cursor: pointer;

}

#module-1 {
     background-color:#CCCCFF;
}


#module-2 {
    background-color:#cbf3ff;
}

#module-3 {
     background-color: #aeff83;
}


#module-4 {
     background-color:#242c2e;
}

.scrollable-paragraph {
    color: rgb(30, 31, 45);
    font-size: 14px;
    overflow-y: scroll;
    height: 250px;
    width: 450px;
    scrollbar-color: #bdf0ff #ffffff;
    scrollbar-width:thin;
    padding-right: 15px;
   
}
p::-webkit-scrollbar {
    width: 10px;
    background-color: #f1f1f1; 
}

.notebook button {
    position: absolute;
    background-color:#242c2e;
    padding:5px 20px;
    border:none;
    color:rgb(255, 255, 255);
    bottom:10px;
    font-size: 12px;
    font-family: area-normal, sans-serif;
    right:40px;
    letter-spacing: 0.5px;
    border-radius: 30px;
}

span {
    display: inline-flex;
    align-self: center;
    justify-content: center;
    background-color: #dcf7ff;
    padding: 2px;
    
}

.clover  {
    position: absolute;
    width:900px;
    height:auto;
    z-index: 1;
    right:-780px;
    top:90px;
    transform: rotate(10deg);
}

.image {
    width: 100%;
    height:70%;
    background-color: white;
}

.notes {
    display: flex;
    gap:20px;
}

.note{
    display: flex;
    justify-content: center;
    height:200px;
    width:200px;
   /* background-color: hsl(99, 100%, 84%);*/
   background-image: url(Assets/Images/stars-01.jpg);
   background-size: cover;
    padding:20px;
    border-radius: 5px;
    resize: none;
}


input {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 5px 10px 20px;
    width:450px;
    border-radius: 30px;
    border: 0.5px solid rgb(60, 203, 255);
    font-family: area-normal, sans-serif;
}

input:focus {
    outline:none;
}

.terms {

    margin-top: 20px;
}

summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 100;
    width:450px;
}

details p {
    margin-bottom: 0px;
    overflow: visible;
}

h3 {
    font-weight: 100;
    font-size: 30px;
}

.popup {
    position: absolute;
    top: 55%;
    left: 30%;
    transform: translate(-50%, -50%) rotate(-2deg); 
    z-index: 4;
    box-shadow: 2px 2px 10px rgba(3, 3, 66, 0.142);
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #dcf7ff; 
}

.popup p {
    font-size: 14px;
    color: #242c2e;
    font-weight: 100;
    padding: 40px;
    
}

.top-popup {
    background-color: #baefff8e; 
    height:30px;
    width: 100%;
}

.exit {
    position: absolute;
    top:2px;
    right:20px;
    font-weight: 100;

}

.exit i {
    color:#ff91ce;
}

.popup p i {
    color:#ffdb65;
}

.card  {
    width:420px;
    height:150px;
    background-color: #eafaff;
    margin-top: 20px;
    border-radius: 5px;
    padding:20px;
}

.resources {
    display: flex;
    flex-direction: column;
    justify-content:end;
}

.resources button {
    background-color:#242828;
    padding:8px 20px;
    border:none;
    color:rgb(255, 255, 255);
    margin-top: 20px;
    font-size: 12px;
    font-family: area-normal, sans-serif;
    letter-spacing: 0.5px;
    border-radius: 30px;
}

canvas {
    border: 1px solid #242828;
    border-radius: 5px;
    cursor: pointer;
}
p {
    color: rgb(29, 32, 65);
    font-size: 14px;
    scrollbar-color: #bdf0ff #ffffff;
    padding-right: 15px;
    font-weight: 100;
   
}


.audio-icon-container {
    position: absolute;
    width:750px;
    height:auto;
    top:30px;
    right:-650px;
    display: inline-block;
  }
  
  .audio-icon {

    cursor: pointer;
  }
  
  .audio-player {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
  }
  
  .audio-icon:hover {
    opacity: 0.8;
  }
